<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3 item">
          <img src="../../../assets/logoblanc.png" alt="logo inasen" height="40">
        </div>
        <div class="col-md-3 item">
          <h3>CONTACTEZ-NOUS</h3>
          <ul>
            <li class="mt-2"><mat-icon class="mat-10 d-inline">place</mat-icon> <p class="d-inline">ZFI de Dakar , Km18 de Rufique </p></li>
            <li class="mt-2"><mat-icon class="mat-10 d-inline">phone</mat-icon> <h4 class="d-inline">(+221) 77 585 73 89</h4></li>
            <li class="mt-2">
              <a href="#" id="facebook" class="d-inline"><img id="im1" src="../../../assets/icons8-facebook-nouveau-48.png" alt=""></a>
              <a href="#" id="instagram" class="d-inline"><img id="im2" src="../../../assets/icons8-instagram-48.png" alt=""></a>
              <a href="#" id="whatsapp" class=" d-inline"><img id="im3" src="../../../assets/whatsap.png" alt=""></a>
              <a href="#" id="twitter" class="d-inline"><img id="im4" src="../../../assets/icons8-twitter-50.png" alt=""></a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 item">
          <h3>About</h3>
          <ul>
            <li><a href="#">Company</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Careers</a>
            <li>
          </ul>
        </div>
        <div class="col-md-3 item text">
          <h3>inasenfoods.com</h3>
          <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus.</p>
        </div>
      </div>
      <p class="copyright">Inasenfoods &copy; 2022</p>
    </div>
  </footer>
</div>
