.fade-in-text {
  font-family: Arial;
  font-size: 150px;
  animation: fadeIn 5s;
  translate: initial;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
#productitem{
  border-color: black;
}
