<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
      <div href="#" class="navbar-brand col-sm-3">
          <img src="../../../assets/logobleu.png" height="80%"  width="60%" alt="CoolBrand">
      </div>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <mat-icon style="color: #0336FF;">menu</mat-icon>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-center" id="textalign">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown" style="margin-left: 30px;">
                <h3 id="item" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Accueil
                </h3>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="textalign" style="background-color: #0336FF;">
                  <a class="dropdown-item" [routerLink]="['/apropos']"><h4>À propos de nous</h4></a>
                  <a class="dropdown-item" [routerLink]="['//engagement']"><h4>Notre engagement</h4></a>
                  <a class="dropdown-item" [routerLink]="['/valeurs']" ><h4>Valeurs, principes et objectifs</h4></a>
                </div>
              </li>
              <li class="nav-item dropdown" id="item">
                <h3 class="nav-link dropdown-toggle" href="#" id="Dropdownproduit" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Nos Produits
                </h3>
                <div class="dropdown-menu" aria-labelledby="Dropdownproduit" id="textalign" style="background-color: #0336FF;">
                  <a class="dropdown-item" [routerLink]="['/epices/jongue']"><h4>Jongué </h4></a>
                  <a class="dropdown-item" [routerLink]="['/epices/welli']"><h4>Wéli Jungo</h4></a>
                  <a class="dropdown-item" [routerLink]="['/epices/grand-chef']"><h4>Grand Chef</h4></a>
                  <a class="dropdown-item" [routerLink]="['/epices/jolli']" ><h4>Jolli </h4></a>
                  <a class="dropdown-item" [routerLink]="['/epices/chocorico']" ><h4>Chocorico </h4></a>
                </div>
              </li>
              <li class="nav-item dropdown" id="item">
                <h3 class="nav-link dropdown-toggle" href="#" id="Dropdowngallerie" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Gallérie
                </h3>
                <div class="dropdown-menu" aria-labelledby="Dropdowngallerie" id="textalign" style="background-color: #0336FF;">
                  <a class="dropdown-item" href="#" ><h4>Actualités</h4></a>
                  <a class="dropdown-item" href="#"><h4>Photos</h4></a>
                  <a class="dropdown-item" href="#" ><h4>Vidéos</h4></a>
                </div>
              </li>
              <li class="nav-item dropdown"  id="item" >
                <h3 class="nav-link dropdown-toggle" href="#" id="Dropdownespace" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Espace Distributeur
                </h3>
                <div class="dropdown-menu" aria-labelledby="Dropdownespace" id="textalign" style="background-color: #0336FF;">
                  <a class="dropdown-item" href="#" ><h4>Jongué </h4></a>
                  <a class="dropdown-item" href="#"><h4>Wéli Jungo</h4></a>
                  <a class="dropdown-item" href="#" ><h4>Grand Chef</h4></a>
                  <a class="dropdown-item" href="#" ><h4>Jolli </h4></a>
                  <a class="dropdown-item" href="#" ><h4>Chocorico </h4></a>
                </div>
              </li>
            </ul>
          </div>
          <div class="navbar-nav ms-auto">
              <a href="#" class="nav-item nav-link" id="image-whatsapp">
                <div class="col-sm-12">
                   <img src="../../../assets/whatsap.png" alt="Whatsapp" height="45" style="padding-top: 15px;">
                </div>
              </a>
              <h3  id="item"><a class="nav-link" href="#" id="loginbtn" style="color: white;">Login</a></h3>
          </div>
      </div>
  </div>
</nav>


